{{define "main_body"}}
<script type="text/javascript">document.getElementById('auth-span').style.display='block';</script>
<div id="update" class="bg-warning">
    New version available, Please download from <a target="_blank" href="https://github.com/likexian/stathub-go">https://github.com/likexian/stathub-go</a>.
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>IP</th>
            <th>Name</th>
            <th>Uptime</th>
            <th>Load</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Swap</th>
            <th>Disk</th>
            <th>Net I/O</th>
            <th>Disk R/W</th>
            <th>Bandwidth</th>
            <th>System</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {{if not .}}
            <tr>
                <td colspan="12" align="center">No data yet, please add nodes following the <a href="/help">guide</a>.</td>
            </tr>
        {{end}}
        {{range .}}
            <tr class="{{.Status}}" id="id_{{.Id}}">
                <td>{{.IP}}</td>
                <td>{{.Name}}</td>
                <td>{{.Uptime}}</td>
                <td>{{.Load}}</td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .CPURate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.CPURate}}%;">
                        {{.CPURate}}%
                      </div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .MemRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.MemRate}}%;">
                        {{.MemRate}}%
                      </div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .SwapRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.SwapRate}}%;">
                        {{.SwapRate}}%
                      </div>
                    </div>
                </td>
                <td>
                    {{if ne .DiskWarn ""}}
                    {{.DiskWarn}}
                    {{else}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{if lt .DiskRate 50.0}}0{{else}}1{{end}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.DiskRate}}%;">
                        {{.DiskRate}}%
                      </div>
                    </div>
                    {{end}}
                </td>
                <td align="center">
                    {{.NetRead}}/{{.NetWrite}}
                </td>
                <td align="center">
                    {{.DiskRead}}/{{.DiskWrite}}
                </td>
                <td>{{.NetTotal}}</td>
                <td>{{.OSRelease}}</td>
                <td>{{.LastUpdate}}</td>
            </tr>
        {{end}}
    </tbody>
</table>
<div id="auto_reload">
    Stat will refresh after <span id="after_seconds">00</span> seconds, <a style="cursor:pointer" id="after_action" onclick="after_action()">stop</a>.
</div>
<script type="text/javascript">
var c = 0;
function $(id) {
    return document.getElementById(id);
}
function do_start() {
    return setInterval(function() {
        var s = new Date().getSeconds();
        var d = s < 4 ? 3 - s  : 63 - s;
        $('after_seconds').innerText = d > 9 ? d : '0' + d;
        if (s == 3) location.href = location.href;
    }, 1000);
}
function after_action() {
    if (c) {
        c = clearInterval(c);
        $('after_seconds').innerText = '--';
        $('after_action').innerText = 'start';
    } else {
        c = do_start();
        $('after_action').innerText = 'stop';
    }
}
function setCookie(name, value, day) {
    if (day) {
        var now = new Date();
        now.setTime(now.getTime() + (day * 86400000));
        var expire = "; expires=" + now.toGMTString();
    } else {
        var expire = "";
    }
    document.cookie = name + "=" + value + expire + "; path=/";
}
function getCookie(name) {
    var find = RegExp(name + "=.[^;]*");
    match = document.cookie.match(find);
    return match ? match[0].split('=')[1] : false;
}
function stat_hub_version_result(update) {
    // check update every day
    setCookie('chkver', update, 1);
    if (!update) $('update').style.display = 'block';
}
c = do_start();
var ver = '0.12.2';
var v = getCookie('chkver');
if (v === false) {
    var u = document.createElement('script');
    u.src = '//www.likexian.com/dream/stathub/chkver/' + ver + '.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(u, s);
} else {
    stat_hub_version_result(v);
}
</script>
{{end}}